fastapi
uvicorn[standard]
pydantic
torch
scikit-learn
numpy==1.26.4
transformers
catboost
huggingface_hub
joblib
fastapi[standard]
keras
tensorflow
customtkinter
tkinter
pickle
pandas
xgboost
lightgbm
seaborn
zemberek-python
re
emoji
fastapi
pdfplumber
huggingface_hub
pydantic
tabnet
